<div class="row-fluid">
	<%= render "layouts/projects_navbar" %>
	<div class="span9">
		<div class="hero-unit">
			<h2>Redigera projekt:
				"<%= @project.name %>"
			</h2>
			<p>
				<% if @session_errors %>
				  <div id="error_explanation" class="alert alert-error">
				    <h4><%= @session_errors.count %> fel gjorde att projektet inte kunde sparas</h4>
				    <% @session_errors.each do |msg| %>
				        <span><%= msg %></span><br/>
				    <% end %>
				  </div>
				<% end %>
				<%= render "form" %>
			</p>
		</div>
	</div>
</div>