<div class="row-fluid">
	<%= render "layouts/projects_navbar" %>
	<div class="span9">
		<div class="alert alert-info">
			<% if @project.users.include?(@user) && @project.owner_id == @user.id %>
				<strong>Du har fulla rättigheter till detta projekt</strong>
			<% elsif @project.users.include?(@user) %>
				<strong>Du kan lägga till tickets i detta projekt</strong>
			<% else %>
				<strong>Du har inga rättigheter i detta projekt</strong>
			<% end %>
		</div>
		<div class="hero-unit">
			
			<h2><%= @project.name %></h2>
			<p>
				<strong>Startdatum: </strong><%= @project.start_date%>
			</p>
			<p>
				<strong>Slutdatum: </strong><%= @project.end_date%>
			</p>
			<p>
				<strong>Användare: </strong> <br/>
				<% @project.users.each do |u| %>
					<%= u.first_name %> <br/>
				<% end %>
			</p>
			<p>
				<strong>Tickets: </strong> <br/>
				<% @project.tickets.each do |t| %>
					<div class="ticket">
						<%= link_to t.name, @project.id.to_s + ticket_path(t) %>
						<% if t.status_id == 1 %>
							<span class="label label-important">
								<%= t.status.status_name%>
							</span>
						<% elsif t.status_id == 2 %>
							<span class="label label-warning">
								<%= t.status.status_name%>
							</span>
						<% end %>

						<% if t.user_id == @user.id %>
							<span class="label label-success">Ägare</span>
						<% end %>
					</div>
					
				<% end %>
				<br/>
				<% if @project.users.include?(@user) %>
					<%= link_to "Lägg till ny ticket", project_path(session[:session_project_id]) + new_ticket_path, :class => "btn btn-primary" %>
				<% end %>
			</p>
			<% if @user.id == @project.owner_id %>
				<%= link_to 'Redigera', edit_project_path, :class => "btn btn-primary" %>
				<%= link_to 'Ta bort projektet', @project, method: :delete, data: { confirm: 'Är du säker på att du vill ta bort detta projekt?' }, :class => "btn btn-danger" %>
			<% end %>
		</div>
	</div>
</div>